<div class="main-content" style="text-align: center; margin-top: 120px;">
  <h1>ながら書き</h1>
  <p>
    YouTubeを見ながら、<br>
    検索をしながら書ける小説エディター<br>
    ながら書き
  </p>
  <%= link_to '新規登録', new_user_registration_path, class: 'btn', style: 'margin-top: 24px;' %>
</div>
